    * {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
      }

h1 {
    margin-bottom: 20px;
      }

.box {
    position: inherit;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #808080;
      }

/* Меню верхнее */
.topmenu {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    float: left;
    background-image: url('../img/m1b1.jpg');
    list-style: none;
 }

.topmenu li {
    float: left;
  }

.topmenu a {
    display: block;
    width: 100px;
    height: 40px;
    border-right: #808080 solid 1px;
    color: #fff;
    line-height: 2.1em;
    text-align: center;
    text-decoration: none;
 }

.topmenu a:hover {
    background-image: url('../img/m1b2.jpg');
       }

/* Меню левое */
.leftmenu {
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
 }

.leftmenu a {
    display: inline-block;
    width: 24%;
    height: 40px;
    margin: auto;
    padding-left: 10px;
    border: #808080 solid .5px;
    color: #000;
    line-height: 2.4em;
    text-align: left;
    text-decoration: none;
 }

.leftmenu a:hover {
    padding-left: 20px;
    border: #fff solid .5px;
      }

/* Основной блок */
.mainbox {
    width: 70%;
    margin: 0 auto;
    padding: 0 auto;
    float: right;
    font-size: 12px;
 }

.clearfix::after {
    display: block;
    clear: both;
    content: '';
 }

.textbox {
    width: 100%;
 }

/* Нижнее меню */
.footermenu {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    float: left;
    background-color: #e1e1e1;
    list-style: none;
 }

.footermenu li {
    float: left;
      }

.footermenu a {
    display: block;
    width: 100px;
    height: 30px;
    color: #000;
    line-height: 2.1em;
    text-align: center;
    text-decoration: none;
}

.last {
    display: block;
    position: absolute;
    top: 2px;
    right: 5px;
    width: auto;
    height: 30px;
    line-height: 2.1em;
 }

.footermenu a:hover {
    text-decoration: underline;
 }

img {
    width: 100%;
    height: auto;
    border: #808080 solid .5px;
 }
